extends ../layout

block content
  .container
    .row
      .two.columns
        .sidebar-nav
          h2.header-small
            i.icon.icon-linux
            | &nbsp;Distro
          ul.filter.filter-os
          h2.header-small
            i.icon.icon-desktop
            | &nbsp;Desktop
          ul.filter.filter-de
          h2.header-small
            i.icon.icon-columns
            | &nbsp;Window
          ul.filter.filter-wm
      .ten.columns.shots-wrapper
        if(filter)
          h1.header-small
            a(href="/shots") Shots
            i.icon.icon-angle-right.seperator
            | #{parseCamelCase(filter)} : #{q}
        .shots-container
          each shot in shots
            .shot-card-wrapper
              .shot-card
                a(href="/shots/#{shot.id}"): img.fetch(src=cloudinary.url(shot.cloudinary_public, { width: 400, height: 225, crop: 'fill', format: 'png' }))
                h2.title: a(href="/shots/#{shot.id}") #{shot.os}
                  if shot.de != 'Not Present'
                    | : #{shot.de} 
                .shot-meta
                  span.fans
                    i.icon.icon-heart-o
                    | #{shot.fans.length}
                  .shooter(title="#{shot._shooter.username}" class="tooltip"): a(href="/users/#{shot._shooter.username}")
                    img.avatar(src=cloudinary.url(shot._shooter.avatar, { width: 24, height: 24, crop: 'fill' }))

         if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
          .pagination
            ul.pager
              if paginate.hasPreviousPages
                li.previous
                  a(class="button" href=paginate.href(true)).prev
                    i.icon.icon-arrow-left
                    |  Previous
              if paginate.hasNextPages(pageCount)
                li.next
                  a(class="button" href=paginate.href()).next
                    | Next&nbsp;
                    i.icon.icon-arrow-right
