extends ../layout

block content
  .container
    .row
      .two.columns
        .sidebar-nav
          h2.header-small
            i.icon.icon-linux
            | &nbsp;Distro
          ul.filter.filter-os
          h2.header-small
            i.icon.icon-desktop
            | &nbsp;Desktop
          ul.filter.filter-de
          h2.header-small
            i.icon.icon-columns
            | &nbsp;Window
          ul.filter.filter-wm
      .ten.columns.shots-wrapper
        if(os || de || wm)
          h1.header-small
            a(href="/shots") Shots&nbsp;
            i.icon.icon-angle-right
            | &nbsp;#{os}#{de}#{wm}
        .shots-container
          each shot in shots
            .shot-card-wrapper
              .shot-card
                a(href="/shots/#{shot.id}"): img.fetch(src=cloudinary.url(shot.cloudinary_public, { width: 400, height: 225, crop: 'fill', format: 'png' }))
                h2.title: a(href="/shots/#{shot.id}") #{shot.os}
                  if shot.de != 'Not Present'
                    | : #{shot.de} 
                .shot-meta
                  span.fans
                    i.icon.icon-heart-o
                    | #{shot.fans.length}
                  .shooter(title="#{shot._shooter.username}" class="tooltip"): a(href="/users/#{shot._shooter.username}")
                    img.avatar(src=cloudinary.url(shot._shooter.avatar, { width: 24, height: 24, crop: 'fill' }))

         if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
          .pagination
            ul.pager
              if paginate.hasPreviousPages
                li.previous
                  a(class="button" href=paginate.href(true)).prev
                    i.icon.icon-arrow-left
                    |  Previous
              if paginate.hasNextPages(pageCount)
                li.next
                  a(class="button" href=paginate.href()).next
                    | Next&nbsp;
                    i.icon.icon-arrow-right


block scripts
  script(type="text/javascript").
    $('.shots-container').masonry({
      // options
      itemSelector: '.shot-card-wrapper',
      gutter: 30
    });


    (function() {
      $.ajax({
          type: 'GET',
          url: '/filter',
          success: function(data) {
            for(var i = 0; i < data.length; i++) {
              for(var j = 1; j < data[i].length; j++) {
                $('.filter-' + data[i][0].type).append('<li><a href="/shots?page=1&limit=12&' + data[i][0].type + '=' + data[i][j]._id + '">'+ data[i][j]._id +'<span class="count">' + data[i][j].count + '</span></a></li>');
              }
            }
          }
      });
    })();   

    $(document).ajaxComplete(function() {
      var url = location.pathname + location.search;
      $('.filter a[href="'+url+'"]').addClass('active');
    }); 