doctype html
html
  head
    title Fetched.io | A Screenfetch Utility
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class=(bodyClassTag ? "#{bodyClassTag}" : ''))
    #header
      .container
        ul.header-nav
          li
            a.brand.header-small(href="/")
              img(src='/images/shell.svg')
              | Fetched.io
          li
            a(class="nav-link" href="/shots") Shots
          li
            a(class="nav-link" href="/gettingstarted") Getting Started
        .header-auth
          if (!userAuth)
            a(href="/login" class="login") Login
            a.button.button-primary(href="/register") Join
          if (userAuth)
            div.auth-nav 
              a(href="/users/#{userAuth.username}" class="button-user")
                | #{userAuth.username}
                img.avatar(src=cloudinary.url(userAuth.avatar, { width: 24, height: 24, crop: 'fill' }))
              ul
                li: a(href="/users/#{userAuth.username}" class="button-user")
                  span.view-profile View Profile
                  img.avatar(src=cloudinary.url(userAuth.avatar, { width: 24, height: 24, crop: 'fill' }))
                li: a(href="/users/#{userAuth.username}/edit")
                  | Edit Account&nbsp;
                  i.icon.icon-pencil
                li: a(href="/logout")
                  | Logout&nbsp;
                  i.icon.icon-sign-out

    block content

    script(src="/dist/app.min.js")
    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66387120-1', 'auto');
      ga('send', 'pageview');

    block scripts